@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

html, input {
    font-size: 10px;
    background-color: #046e4a
  }
  
  body,html, input > span{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
  }

  a:link, a:visited{
      color: #000000;
    text-decoration: none;
  }

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex:1;
}


.location-container {
    display: block;
    margin: .5rem;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    text-align: center;
    color: #000000;
    width: 200px;
    align-self: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    font-size: 3rem;
    padding: 1rem .5rem;
    text-align: center;
    color: #000000;
    transition: all 0.7s;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex:1;
    align-self: center;
}
.input {
    margin: .5rem;
    font-size: 1.5rem;
    padding: 0.5rem .5rem;
    text-align: center;
    color: #000000;
    transition: all 0.7s;
    width: 200px;
    align-self: center;
}
.icons-author-container {
    margin: .5rem;
    font-size: 1rem;
    padding: 0.5rem .5rem;
    text-align: center;
    color: #000000;
    transition: all 0.7s;
    width: 200px;
    align-self: center;
    
}

#input{
    text-decoration:none;
    width: 100%;
    color:#000000;
    border: none;
    border-bottom: 3px solid #000000;
    text-align: center;
    font-size: 1.5rem;
    
  }

.temperature {
    font-size: 10rem;
}


.wind, .humidity {
    font-size: 3rem;
}

#icon {
    padding: 0.5rem .5rem;
    max-width: 125px;
}

.hide {
display: none;
}





@media (max-width: 1024px){

}