@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

html {
    font-size: 10px;
    background-color: #000000 
  }
  
  body,html > span{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
  }

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex:1;
}


.location-container {
    border: 4px solid #e8e8e8;
    border-radius: 5px;
    display: block;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    text-align: center;
    color: white;
    transition: all 0.7s;
    width: 200px;
    align-self: flex-end;
}

.weather-container {
    border: 4px solid #e8e8e8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 3rem;
    padding: 1rem .5rem;
    text-align: center;
    color: white;
    transition: all 0.7s;
    width: 200px;
    align-items: center;
    justify-content: center;
    flex:1;
    
}

.temperature {
    font-size: 10rem;
    border: 4px solid black;
    border-radius: 5px;
}


.wind {
    font-size: 3rem;
    border: 4px solid black;
    border-radius: 5px;
}

.humidity {
    font-size: 3rem;
    border: 4px solid black;
    border-radius: 5px;
}

.icon {
    max-width: 150px;
    border: 4px solid black;
    border-radius: 5px;
}





@media (max-width: 1024px){

}